
.title {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.form {
    width: 50%;
    min-width: 20rem;
    padding: 1rem;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 0.8rem;
}

.table-container {
    margin-top: 2rem;
}