# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Library
/node_modules

# OS
.DS_Store
.airplane

# IDE
.vscode/*

# API Keys
.env
airplane.dev.yaml

# Airplane 
.airplane-view

# Misc / Jest
coverage
dist
